{% extends "indicadores/charts.html" %}
{% load staticfiles %}
    
{% block charts %}
    <h1>{{ titulo }}</h1>
    <div class="row">
        <h1>{{ Title }}</h1>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center">
            <h1>Total de Alumnos</h1>
            <h1>{{ total_alumnos }}</h1>
        </div>

        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center">
            <h1>Composición por Grado</h1>
            <canvas id="Grado" width="400" height="400">
        </div>
    </div>
    
</canvas>
{% endblock%}




{% block charts_javascript %}
    <script type="text/javascript">
    var ctx = document.getElementById("Grado");
    data = {
        labels: [{% for key, value in data.items %}
                    "{{ key }}",
                 {% endfor %}],
        datasets: [{
            data: [{% for key, value in data.items %}
                    "{{ value }}",
                   {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }],
    };

    var LocalidadChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        // options: {responsive: true}
    });
</script>
{% endblock charts_javascript %}
