{% extends "administracion/dashboard_users.html" %}
{% load staticfiles %}

{% block dashboard_body %}

	<link rel="stylesheet" type="text/css" href={% static 'css/captura/capturar_estudio.css' %}>

	<form id="parentForm" method="post" action="" data-parsley-validate="" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate="">

        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
		
		<div>
        	<h2>{{seccion}}</h2>
		</div>

		{% for subseccion in data %}
			
			<h2>{{subseccion.nombre}}</h2>

			{% for pregunta in subseccion.preguntas %}
				
				<h4>{{pregunta.texto}}</h4>

				<div id="question-container-{{pregunta.id}}" class='question-container'>
					{% for respuesta in pregunta.respuestas %}
						
						<div class='form-container'>

							{% if pregunta.opciones_respuesta.1 %}
									
								{{respuesta.form.elecciones}}

							{% else %}

	                            <div class="item form-group">

	                                <div class="col-md-6 col-sm-6 col-xs-12">
	                                    <div class="col-sm-12">
	                                       <p>{{ respuesta.form.respuesta }}</p>
	                                    </div>
	                                </div>
									
									<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
										<a id="delete-for-{{respuesta.id}}" class="btn btn-danger delete-answer" href="javascript:void(0)">-</a>
									</div>

	                            </div>

	                            {{ field.errors }}


                    		{% endif %}
						
						</div>
						
					{% endfor%}
				</div>
				
				{% if not pregunta.opciones_respuesta.1 %}
					<a id="answer-for-{{pregunta.id}}" class="btn btn-success add-answer" href="javascript:void(0)">
						+
					</a>
				{% endif %}
			
			{% endfor %}
		
		{% endfor %}

        <div class="form-group">
        	<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

        	{% if seccion.numero > 1 %}
	        	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">   
	                <button id="previous_section_button" type="submit" class="btn btn-success">
	                	Anterior
	                </button>
	            </div>
	        {% endif %}
			
			<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
            
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">   
                <button id="next_section_button" type="submit" class="btn btn-success"> 
                	Siguiente
                </button>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
        </div>

    </form>

{% endblock %}


{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/captura/capturar_estudio.js' %}"></script>

<script>

	
	capturar_estudio_dynamic_form.init(
		{	
			"url_add_answer": "{% url 'captura:agregar_respuesta_estudio' %}",

			"url_remove_answer": "{% url 'captura:quitar_respuesta_estudio' %}",

			"id_study": {{id_estudio}}
		}
	);

</script>

{% endblock %}