{% extends "layouts/dashboard_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    
    <div>
      <h1 class="">Egresos e Ingresos Familiares</h1>
    </div>

    <div class="row">
              
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            {% include "captura/tabla_economic_status.html" %}
            {% include "captura/tabla_egresos.html" %}
            {% include "captura/tabla_ingresos.html" %}
          </div>
        </div>
      </div>                
    </div>
  </div>
</div>

<div class="text-center">
  <a href="{% url 'captura:integrantes' familia.id %}" class="btn btn-danger">
    <i class="glyphicon glyphicon-arrow-left"></i> Ingresos y Egresos
  </a>
  <a href="{% url 'captura:transacciones' familia.id %}" class="btn btn-danger">
    Fotos Vivienda <i class="glyphicon glyphicon-arrow-right"></i>
  </a>
</div>

<div class="row">
    <div class="col-md-12 panel-warning">
        <div class="content-box-large">
         
        </div>
    </div>
</div>

{% include "captura/create_egreso_modal.html" %}
{% include "captura/create_ingreso_modal.html" %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal_update_transaccion">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_update_transaccion_content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_user">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_delete_user_content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}


{% block extra_page_js %}


<script type="text/javascript">
  // using jQuery
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  $("#li_side_nav_users").addClass("current");
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });
  function openEditModal(num){
    window.console.log(num)
     // $("#test").submit(function(event){
            $.ajax({
                 type:"POST",
                 url:"{% url 'administracion:users_edit' %}",
                 data: {
                        'user_id': Number(num) // from form
                        },
                 success: function(data){
                    window.console.log(data)
                     $('#message').html("<h2>Contact Form Submitted!</h2>") 
                 }
            });
            // return false; //<---- move it here
       // });

  }

  $(".update_transaccion_link").click(function(ev) { // for each edit contact url
      ev.preventDefault(); // prevent navigation
      var url = $(this).data("form"); // get the contact form url
      $("#modal_update_transaccion_content").load(url, function() { // load the url into the modal
          $("#modal_update_transaccion").modal('show'); // display the modal on url load
      });
      return false; // prevent the click propagation
  });

  $('.edit_form').on('submit', '#btn_send_edit_user',function() {
      $.ajax({ 
          type: $(this).attr('method'), 
          url: this.action, 
          data: $(this).serialize(),
          context: this,
          success: function(data, status) {
              $('#modal_edit_user').html(data);
          }
      });
      return false;
  });

$(".delete_user_link").click(function(ev) { // for each edit contact url
    ev.preventDefault(); // prevent navigation
    var url = $(this).data("form"); // get the contact form url
    $("#modal_delete_user_content").load(url, function() { // load the url into the modal
        $("#modal_delete_user").modal('show'); // display the modal on url load
    });
    return false; // prevent the click propagation
});

</script>
{% endblock %}