{% extends "administracion/dashboard_base.html" %}
{% load staticfiles %}

{% block body_content %}
<div class="page-content">
  <div class="row">
    <div class="col-md-12">

    {% block dashboard_body %}

      <div class="container">
        <h3>Mis estudios socioeconómicos</h3>
        <div class="container">
          {% include "captura/estudio_form.html" %}
        </div>
        <br>
        {% if estudios %}
          <div class="content-box-large box-with-header panel-info">
              <div class="content-box-header panel-heading">
                <div class="panel-title">
                  Estudios en revisión
                </div>
              </div>
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Número de estudio</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for estudio in estudios %}
                              <tr>
                                <td>
                                  {{estudio.id}}
                                </td>

                                <td>
                                  {{estudio.status}}
                                </td>

                                <td>
                                  <a href="#"><button class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</button></a>
                                </td>

                                <td>
                                  {% if estudio.status == Estudio.RECHAZADO %}
                                  <a href="#"><button class="btn btn-info"><i class="glyphicon glyphicon-eye-open"></i> Ver retroalimentación</button></a>
                                  {% endif %}
                                </td>

                              </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
          
        {% else %}
          <h5>No hay registro de estudios socioeconómicos</h5>
        {% endif %}
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
