{% extends "layouts/dashboard_base.html" %}
{% load staticfiles %}

{% block content %}

<div class="pull-right">
  {% include "captura/estudio_form.html" %}
</div>
  
<div class="row"> 
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Mis estudios socioeconómicos</h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <table id="datatable" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Número</th>
              <th>Nombre Familia</th>
              <th>Status</th>
              <th>Acciones</th>
            </tr>
          </thead>


          <tbody>
            {% if estudios %}
              {% for estudio in estudios %}
                <tr class="odd gradeX {%if estudio.status == status_options.RECHAZADO%} danger {%endif%}">
                  <td>
                    {{estudio.id}}
                  </td>

                  <td>
                    {{estudio.familia}}
                  </td>

                  <td>
                    {{estudio.get_status_display}}
                  </td>

                  <td>
                    <a id="delete_estudio_{{ estudio.id }}" class="delete_estudio_link mouseClick btn btn-danger" data-form="{% url 'captura:estudio_delete_modal' estudio.id %}">
                      <i class="glyphicon glyphicon-trash"></i> Borrar
                    </a>

                    {% if estudio.status == status_options.RECHAZADO %}
                      <button class="btn btn-info">
                        <i class="glyphicon glyphicon-inbox"></i> Ver Retroalimentación
                      </button>
                    {% endif %}

                    <a href="{% url 'captura:familia' estudio.familia.id %}" class="btn btn-primary">
                      <i class="glyphicon glyphicon-pencil"></i> Editar
                    </a>

                    <a class="btn btn-success btn-circle-sm" href="{% url 'estudios_socioeconomicos:focus_mode' estudio.id%}" >
                      <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
                  
            {% else %}
              <h5>No hay registro de estudios socioeconómicos</h5>
            {% endif %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>                
</div> 
  
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_estudio">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_delete_estudio_content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_page_js %}
  <script type="text/javascript">
    // using jQuery
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
    });

  $(".delete_estudio_link").click(function(ev) { // for each edit contact url
      ev.preventDefault(); // prevent navigation
      var url = $(this).data("form"); // get the contact form url
      $("#modal_delete_estudio_content").load(url, function() { // load the url into the modal
          $("#modal_delete_estudio").modal('show'); // display the modal on url load
      });
      return false; // prevent the click propagation
  });

  </script>
{% endblock %}
