{% extends 'layouts/dashboard_base.html'%}

{% block content %}
    {% include 'captura/captura_navigation.html'%}

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          
          <div class="x_title">
            <h2>{{ estudio }}<small>Subir Guardar Estudio</small></h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            
            <div class="col-md-12 col-sm-12 col-xs-12 profile_left">
              <div class="profile_img">
                
              </div>
              <h3>Familia {{ estudio }}</h3>

              {% if estudio.status == status_options.RECHAZADO %}
                
                <h3>Retroalimentación</h3>
                <p class="center">
                  Este estudio ha sido rechazado. Asegurese de
                  subirlo cuando se haya completado la retroalimentación.
                </p>
                {% include 'estudios_socioeconomicos/focus_mode_seccion_rechazado.html' %}
                  
              {% else %}
              <p class="center">
                  Hasta este punto el estudio está guardado como 
                  borrador.
                  Una vez subido a revisión no podrás
                  hacer modificaciones al estudio.
              </p>
              {% endif %}
              
              <form method="post" action="{% url 'captura:save_upload_study' estudio.id %}">
                  {% csrf_token %}
                  <input value="revision" class="hidden" name="action" type="text">
                  
                  <button id="submit_estudio" class="btn btn-success center">
                    <i class="fa fa-edit m-right-xs"></i>
                    Subir a Revisión
                  </button>

              </form> 
                
              
            </div>        
          </div>
        </div>

        <a id="previous_cuestionario" href="{% url 'captura:contestar_estudio' estudio.id 8%}" class="btn btn-danger center">
          <i class="glyphicon glyphicon-arrow-left"></i>  Cuestionario
        </a>

      </div>
    </div>

    <style>
      .center {
        display: table;
        margin: 0 auto;
      }
    </style>

{% endblock %}