{% extends 'layouts/dashboard_base.html'%}

{% block content %}
    {% include 'captura/captura_navigation.html'%}

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          
          <div class="x_title">
            <h2>{{ estudio }}<small>Subir Guardar Estudio</small></h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            
            <div class="col-md-12 col-sm-12 col-xs-12 profile_left">
              <div class="profile_img">
                
              </div>
              <h3>Familia {{ estudio }}</h3>
            
              <p>
                  Hasta este punto el estudio esta guardado como 
                  borrador. Una vez subida a revisión no podras
                  hacer modificaciones al estudio.
              </p>
              
              <form method="post" action="{% url 'captura:save_upload_study' estudio.id %}">
                  {% csrf_token %}
                  <input value="revision" class="hidden" name="action" type="text">
                  
                  <button id="submit_estudio" class="btn btn-success">
                    <i class="fa fa-edit m-right-xs"></i>
                    Subir a Revisión
                  </button>

              </form> 
                
              
            </div>        
          </div>
        </div>

        <a id="previous_cuestionario" href="{% url 'captura:contestar_estudio' estudio.id 8%}" class="btn btn-danger">
          Cuestionario
        </a>

      </div>
    </div>

{% endblock %}