<table class="table table-striped table-bordered text-center">
  <tr>
    <th class="text-center" colspan="4">Tipos de Egresos</th>
  </tr>
  <tr>
    <td>Alimentación (Frutas, Carne)</td>
    <td>Abarrotes (Super, Jabón, etc.)</td>
    <td>Colegiaturas/Estudian</td>
    <td>Gas</td>
  </tr>
  <tr>
    <td>Teléfono (Fijo y Cel)</td>
    <td>Luz</td>
    <td>Agua</td>
    <td>Mantenimiento del auto o financiamiento</td>
  </tr>
  <tr>
    <td>Cable/Internet</td>
    <td>Pasajes especifique</td>
    <td>Gasolina</td>
    <td>Renta</td>
  </tr>
  <tr>
    <td>Vestido, calzado, uniformes</td>
    <td>Recreación, salidas, etc.</td>
    <td>Refrescos, golosinas, etc</td>
    <td>Festividades / 6 Enero / especifique de donde lo asignan</td>
  </tr>
  <tr>
    <td>Vacaciones</td>
    <td>Deudas</td>
    <td>Construccion</td>
    <td>Salud</td>
  </tr>
</table>