<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Monto Mensual</th>
      <th>Monto</th>
      <th>Periodicidad</th>
      <th>Observación</th>
      <th>Acciones</th>
    </tr>
  </thead>


  <tbody>
    {% for egreso in egresos %}
    <tr class="">
      <td>{{ egreso }}</td>
      <td>{{ egreso.obtener_valor_de_transaccion }}</td>
      <td>{{ egreso.periodicidad }}</td>
      <td>{{ egreso.observacion }}</td>

      <td>
        <a id="update_user_{{ user.id }}" class="edit_user_link mouseClick btn btn-default" data-form="{% url 'administracion:users_edit_form' user.id %}">
          <i class="glyphicon glyphicon-pencil"></i> 
          Editar
        </a>
        &nbsp;&nbsp;

        <a id="delete_user_{{ user.id }}" class="delete_user_link mouseClick btn btn-danger" data-form="{% url 'administracion:users_delete_modal' user.id %}">
          <i class="glyphicon glyphicon-trash"></i> 
          Borrar
        </a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<a id="btn_modal_create_user" class="mouseClick btn btn-primary pull-right" data-toggle="modal" data-target="#modal_create_egreso">
  <i class="glyphicon glyphicon-plus"></i>
  <i class="glyphicon glyphicon-usd"></i>
  Agregar Egreso
</a>
