<h1>Edición de Integrante</h1>
<form action="{% url 'captura:integrante' integrante.id %}" method="post">
  {% csrf_token %}
  <h2>Datos Generales</h2>
  {{ forms.integrante_form.non_field_errors }}
  {{ forms.integrante_form }}

  {% if  forms.alumno_form %}
    <h2>Datos del Alumno</h2>
    {{ forms.alumno_form.non_field_errors }}
  	{{ forms.alumno_form }}
  {% endif %}

  {% if forms.tutor_form %}
    <h2>Datos del Tutor</h2>
    {{ forms.tutor_form.non_field_errors }}
  	{{ forms.tutor_form }}
  {% endif %}
  <br>
  <input type="submit" value="Submit" class="btn btn-primary" id="update_integrante"/>
  <br>
  <br>
  <br>
</form>
