{% extends 'layouts/template_base.html' %}

{% block main_body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <div class="box">
                    <div class="content-wrap">
                        <h6>Recuperar Contraseña</h6>
                         <p>Se han generado las instrucciones para cambiar tu contraseña, si existe un usuario con el correo introducido, se enviaran dichas instrucciones en un momento.</p>
                        <p>Si no recibe un correo, favor de asegurar que este bien su correo o revisar la carpeta de spam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}