{% extends 'layouts/landing_base.html' %}

{% block content %}

<div class="content-wrap">
    <h6>Recuperar Contraseña</h6>
    {% if validlink %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary" name="reset-submit" id="reset-submit">Cambiar</button>
        </form>
    {% else %}
        <p> El enlace para recuperar la contraseña es invalido, posiblemente porque ya se uso. Favor de solicitar un nuevo enlace.</p>
    {% endif %}
</div>
                
{% endblock %}