{% extends 'layouts/template_base.html' %}

{% block main_body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <div class="box">
                    <div class="content-wrap">
                        <h6>Recuperar Contraseña</h6>
                        {% if validlink %}
                            <form method="post">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button type="submit" class="btn btn-primary" name="reset-submit" id="reset-submit">Cambiar</button>
                            </form>
                        {% else %}
                            <p> El enlace para recuperar la contraseña es invalido, posiblemente porque ya se uso. Favor de solicitar un nuevo enlace.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}