{% extends "layouts/basic.html" %}
{% load staticfiles %}
{% block page_title %}ISJP - Panel de Administracion{% endblock %}
{% block extra_css %} 
	<link rel="stylesheet" type="text/css" href={% static 'css/base/dashboard.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/base/home.css' %}>
{% endblock %}
{% block header %}
	{% include "base/nav_bar.html" %}
{% endblock %}

{% block body_content %}
<div class="page-content">
    <div class="row">
      <div class="col-md-2">
        {% include "administracion/side_nav.html" %}
      </div>
      <div class="col-md-10">
        	{% block dashboard_body %}{% endblock %}
      </div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src={% static "js/administracion/dashboard.js" %}></script>
	{% block extra_page_js %}{% endblock %}
{% endblock %}