{% extends "layouts/dashboard_base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="page-title">
    <div class="title_left">
      <h3>Información de Alumno</h3>
    </div>
  </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">

        <h2> 
          Información General
        </h2>

        <p class="text-muted font-13 m-b-30">
          Datos generales
        </p>

        <table id="table_general_info" class="table table-striped">
          <tbody>
            <tr>
              <td> <strong>Nombres</strong> </td>
              <td>{{student.integrante.nombres}}</td>
            </tr>
            <tr>
              <td> <strong>Apellidos</strong> </td>
              <td>{{student.integrante.apellidos}}</td>
            </tr>
            <tr>
              <td> <strong>Teléfono</strong> </td>
              <td>{{student.integrante.telefono}}</td>
            </tr>
            <tr>
              <td> <strong>Fecha de Nacimiento</strong> </td>
              <td>{{student.integrante.fecha_de_nacimiento}}</td>
            </tr>
            <tr>
              <td> <strong>Nivel de Estudios</strong> </td>
              <td>{{student.integrante.get_nivel_estudios_display}}</td>
            </tr>
            <tr>
              <td> <strong>Número SAE</strong> </td>
              <td>{{student.numero_sae}}</td>
            </tr>
            <tr>
              <td> <strong>Escuela</strong> </td>
              <td>{{student.escuela}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <h2> 
          Becas
        </h2>

        <p class="text-muted font-13 m-b-30">
          Historial de Becas
        </p>

        {% if becas %}
          <table id="table_becas" class="table table-striped">
            <thead>
              <tr>
                <th>Fecha de Asignación</th>
                <th>Porcentaje</th>
              </tr>
            </thead>
            <tbody>
              {% for beca in becas %}
                <tr>
                  <td> {{beca.fecha_de_asignacion}} </td>
                  <td> {{beca}} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="text font 17 m-b-30">
            El alumno no tiene ninguna beca asignada
          </p> 
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <h2> 
          Carta de Beca
        </h2>

        <p class="text-muted font-13 m-b-30">
          Genera una carta de Beca para el alumno.
        </p>

        {% if becas %}
          <form id="form-genera-carta" class="form-horizontal" method="POST" action="{% url 'administracion:detail_student' student.pk  %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="form-group">
                <div class="col-sm-offset-1 col-sm-3">
                  {{ field.errors }}
                  <strong>{{field.label}}:</strong>
                </div>
                <div class="col-sm-offset-1 col-sm-7">
                  {{ field }}
                </div>
              </div>
            {% endfor %}
            <center>
              <button type="submit" class="btn btn-primary">Descarga Carta</button>
            </center>
          </form>
        {% else %}
          <p class="text font 17 m-b-30">
            No se puede generar una carta para un alumno sin beca asignada.
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
