{% extends "administracion/dashboard_base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">       
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">

      <h2> Búsqueda de Alumnos</h2>

      <p class="text-muted font-13 m-b-30">
        Listado de todos los alumnos activos.
      </p>

        <table id="table_students" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th> Nombre </th>
              <th> Apellido </th>
              <th> Grado </th> 
              <th> Ver </th>
            </tr>
          </thead>

          <tbody>
            {% for student in students %}
                <tr>
                  <td>{{student.integrante.nombres}}</td>
                  <td>{{student.integrante.apellidos}}</td>
                  <td>{{student.integrante.get_nivel_estudios_display}}</td>
                  <td>
                    <a class="btn btn-success btn-circle-sm" href="#">
                      <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </a>
                  </td>
                </tr>
            {% endfor %}
                
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_page_js %}

<script>
  $(document).ready( function () {
    $('#table_students').DataTable();
  });
</script>

{% endblock %}