<div class="sidebar content-box" style="display: block;">
    <ul id="ul_side_nav" class="nav">
        <!-- Main menu -->
        <li id="li_side_nav_main"><a href="{% url 'administracion:main' %}"><i class="glyphicon glyphicon-home"></i> Administración</a></li>
        <!-- <li><a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Usuar</a></li> -->
        <!-- <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li> -->
        <!-- <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li> -->
        <!-- <li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li> -->
        <li id="li_side_nav_users"><a href="{% url 'administracion:users' %}"><i class="glyphicon glyphicon-pencil"></i> Usuarios</a></li>
        <!-- <li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li> -->
        <li class="submenu">
             <a href="#">
                <i class="glyphicon glyphicon-list"></i> Tasks
                <span class="caret pull-right"></span>
             </a>
             <!-- Sub menu -->
             <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
            </ul>
        </li>
    </ul>
 </div>