<form class="form-horizontal edit_form" method="POST" action="{% url 'administracion:users_delete'%}">
  {% csrf_token %}
  <input type="hidden" name="user_id" value="{{ delete_user.id }}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Borrar usuario</h4>
  </div>
  <div class="modal-body">
    <p>Estas seguro que deseas borrar al usuario de correo: {{delete_user.email}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary" id="btn_send_delete_user">Borrar usuario</button>
  </div>
</form>