 <h3></h3>
    {% load permissions_extras %}

    <ul class="nav side-menu">
      {% if request.user|has_group:'Administrador' %}
        <h3>Administración</h3>
        <li>
          <a href="{% url 'administracion:main' %}">
            <i class="fa fa-laptop"></i> Dashboard
          </a>
        </li>

        <li>
          <a href="{% url 'administracion:users' %}">
            <i class="fa fa-users"></i> Usuarios
          </a>
        </li>
        
        <li>
          <a>
            <i class="fa fa-home"></i> Estudios 
            <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <!--<li><a href="">Todos</a></li>-->
            <li>
              <a href="{% url 'administracion:main_estudios' 'aprobado' %}">Aprobados
              </a>
            </li>
            <li>
              <a href="{% url 'administracion:main_estudios' 'pendientes' %}">
                Pendientes
              </a>
            </li>
            <li>
              <a href="{% url 'administracion:main_estudios' 'revision' %}">
                En revisión
              </a>
            </li>
            <li>
              <a href="{% url 'administracion:main_estudios' 'eliminado' %}">
                Eliminados
              </a>
            </li>
            <li>
              <a href="{% url 'administracion:main_estudios' 'borrador' %}">
                En borrador
              </a>
            </li>
          {% endif %}

          {% if request.user|has_group:'Administrador' %}
            <li>
              <a href="{% url 'administracion:main' %}">
                <i class="fa fa-laptop"></i> Estudios
              </a>
            </li>
          {% endif %}
        </ul>
      </li>
    
    </ul>