{% extends "layouts/template_base.html" %}
{% load staticfiles %}
{% block page_title %}Jp2 | Iniciar Sesion{% endblock %}

{% block main_body %}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-wrapper">
		        <div class="box">
		            <div class="content-wrap">
		                <h6>Recuperar Contraseña</h6>
  						{% include "perfiles_usuario/password_reset_form.html" %}
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}
